@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #242020;
    background-color:#242020;
    text-align: center;
}

.metric-box {
    background-color: #242020;
    border-left: 4px solid #0d6efd;
    padding: 15px;
    border-radius: 4px;
    height: 100%;
}

.metric-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d6efd;
    margin-bottom: 0;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 20px;
}

.card-header {
    font-weight: 600;
}

pre {
    background-color: #0d6efd;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.table-responsive {
    overflow-x: auto;
}

.img-fluid {
    max-width: 70%;
    height: auto;
}

.mt-5 py-3 bg-light {
    margin-top: auto;
}


/*.button-upload-csv {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace white;
    border: 2px solid #0d6efd;
    border-radius: 50px;
}
/*

/* Estilos para as imagens dos gráficos */

.img-grafico {
    width: 20px;
    height: 20px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

.card-body.text-center {
    padding: 20px;
}
.image-viewer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    text-align: center;
    overflow: auto;
}

.image-viewer img {
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.close-viewer {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.graph-thumbnail {
    cursor: pointer;
    transition: transform 0.3s;
}

.graph-thumbnail:hover {
    transform: scale(1.03);
}


/* Novos estilos para navegação */
.viewer-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 1001;
}

.nav-btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.image-counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

/* Melhora a responsividade */
@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}
