<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=_viqGmhbDAQqJ_QbPzZbEMwWDiM7kfkIc0qgVKfLWEEy2w9-qhqpWAmSdxhXTj3cglJas9D1sxCwDuEa3iFzBM9Y5PGgMwSdiPGB8ifdn_vqBvku82NAD4V4CsLRt3Dut2NwWKqLUQmcvJ6rhSjCS2XUwf33BWM4PuyQNv0llIo" charset="UTF-8"></script><style type="text/css">
	.toggle-container {
    position: absolute;
	left:0;
	top:0;
    width: 100%;
    height: 100%;
	border-radius:0;

}
.container button.hidden:hover {
    background-color: #fff;
    color: #512da8;
}
</style>
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <title>|Login | Regressão Linear | </title>
</head>
<body>
    <div class="container" id="container">

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>
                        Usuário Cadastrado com Sucesso!
                    </h1>
                    <p>
                        Seu usuário foi cadastrado e está pendente de aprovação. Aguarde contato da equipe de T.I autorizando seu acesso ao Sistema.
                    </p>
					<button class="hidden" onclick="window.location.href='/'">Voltar à Página Inicial</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>